section.about-me{
    min-height: 250px;
    background-color: #EC6F73;

    span{
        display: flex;
        justify-content: center;
        h2{
            margin: 0;
            color: white;
            font-size: 40px;
        }
    }

    section.inner-about-me{
        margin: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        div.description-about{
            width: 70%;

            p{
                color: white;
                margin: 0;
            }
        }

        div.img-chef{
            background-color: black;
            border-radius: 50%;
            height: 160px;
            width: 160px;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}


@media screen and (max-width: 552px) {

    section.about-me{

        section.inner-about-me{

            div.img-chef{
                margin-bottom: 10px;
            }

            div.description-about{
                width: 95%;

                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
}
