main#about-me{
    display: flex;
    min-height: 100vh;

    >section{
        width: 100%;
        min-height: 150px;
        margin: 50px;
        display: flex;
        justify-content: space-between;

        section{

            width: 50%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        section.content-about{
            margin-left: 30px;
            display: block;
            h1{
                font-size: 2em;
                font-weight: 700;
                color: #707070;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 828px){
    main#about-me{

        >section{
            display: block;

            section{
                width: 100%;
            }

            section.content-about{
                margin-left: 0px;
            }
        }


    }
}
