//css
@import 'header';
@import 'footer';
@import 'homeheadersection';
@import 'sauceprev';
@import 'about';
@import 'product';
@import 'hover';
@import 'aboutmepage';
@import 'details';
@import 'contact';
@import 'modal';
@import 'auth';
@import 'noscroll';


//font awesome
$fa-font-path:        "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";


body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    margin: 0;
}


