*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

input{
    border: 1px solid gray;
}

p.bold {
    font-weight: bold;
}



.geselecteerd {
    // font-family: Helvetica, Arial;
    font-size: 1.2em;
    font-weight: 700;
    color: #707070;
    text-decoration: underline;
    text-decoration-color: #EC6F73;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;
}

/* main styling */
.container{
    width: 80%;
    margin: 50px auto;
}

.contact{
    display: flex;
}

.contact_left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact_right{
    flex-basis: 40%;
    padding: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 40px;
}

.input-row{
    margin-bottom: 20px;
}

.input-group{
    margin: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    padding: 10px;
    outline: none;
}

// label{
//     display: none;
// }

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background: black;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba (28,0,181,0,3);
    margin: 20px;
}

.contact-right h3{
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}

@media screen and (max-width: 1005px) {
    div.contact{
        flex-wrap: wrap;
    }

    .contact_left{
        flex-basis: auto;
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    .contact_right{
        flex-basis: 100%;
        // width: 100%;
    }
}

@media screen and (max-width: 520px) {
    table{
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    table{
        font-size: 6px;
    }
}
/* end main styling */

