main#details{

    section.product{
        display: flex;
        margin: 38px;
        justify-content: space-between;
        flex-wrap: wrap;

        section.product-container{

            div.product-img-container{
                background-color: black;
                height: 400px;
                width: 400px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        section.product-details{

            width: 500px;

            h1{
                font-size: 30px;
            }

            h2.price{
                color: red;
            }
        }
    }

    section.heading{
        margin: 38px;
    }

    section.extra-sauce{
        display: flex;
        margin: 38px;
        flex-wrap: wrap;
        justify-content: space-between;

        a{
            div.product{

                margin-bottom: 10px;

                div.product-img{
                    height: 200px;
                    width: 200px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                div.product-desc{
                    text-align: center;
                }
            }
        }
    }
}



@media screen and (max-width: 970px){
    main#details{

        section.product{
            justify-content: center;
        }
    }
}

@media screen and (max-width: 462px){

    main#details{
        section.product{
            section.product-container{

                div.product-img-container{
                    height: 300px;
                    width: 300px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 476px){
    main#details{
        section.extra-sauce{
            justify-content: center;
        }
    }
}
