footer{
    background-color: #E2E2E2;

    display: flex;
    justify-content: center;
    height: 50px;

    section.info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;

        p{
            margin: 0;
            display: inline;
        }
    }
}
