header{
    width: 100%;

    nav.scroll{
        top: 0;
        width: 100%;
        border-bottom: 1px solid black;
        transition: 0.4s;
        z-index: 1000;
        overflow: hidden;
        height: 114px;

        &.mobile{
            height: 100vh;
        }
        div.nav-center{
            width: 90vw;
            display: flex;
            align-items: center;
            margin: 0 auto;
            justify-content: space-between;

            div.nav-header{

                margin: 20px;

                img{
                    width: 155px;
                }
            }

            div.links-container{
                ul.links{
                    display: flex;

                    li{
                        a.scroll-links{
                            text-decoration: none;
                            color: black;
                            font-size: 1.1rem;
                            margin: 0 1rem;
                            padding: 0;
                        }

                        a.dashboard{
                            font-weight: bold;
                        }

                        a.scroll-links:hover{
                            transition: 0.4s;
                            color: #EC6F73;
                        }
                    }
                }
            }

        }

        div.nav-mobile{
            display: none;
        }
    }
}

.mobile{
    height: 100vh;
}

div.toggle-button{
    display: none;
}

@media screen and (max-width: 639px) {

    header{
        nav.scroll{

            div.nav-mobile{
                display: block;

                ul.list-mobile{
                    text-align: center;

                    li{
                        margin: 30px;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.4em;
                    }
                }
            }
        }
    }

    div.links-container{
        display: none;
    }

    div.toggle-button{
        display: block;
    }
}

