main{
    > section.hero-container{
        display: flex;

        div.hero{
            width: 50%;
            height: 500px;
            background-color: white;

            div.hero-container{
                margin-left: 20px;

                div.hero-overlay{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    // background-color: rgba(0,0,0,0.3);

                    h1.hero-text{
                        // margin-top: 10px;
                        font-size: 4em;
                        margin-bottom: 5px;
                    }

                    div.hero-description{
                        width: 85%;
                        height: auto;
                        p{
                            font-size: 21px;

                            span.quote{
                                font-weight: bold;
                            }
                        }
                    }
                    div.button-container{

                        margin: 20px 0;
                        a.hero-button{
                            padding: 12px;
                            color: #EC6F73;
                            border: 2px solid #EC6F73;
                        }

                        a.hero-button:hover{
                            color: white;
                            background-color: #EC6F73;
                            transition: 0.4s;
                        }
                    }
                }


            }
        }

        div.bg-hero{
            width: 50%;
            height: 500px;

            img.bg-hero-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 954px) {
    main{
        > section.hero-container{
            display: block;


            div.hero{
                width: 100%;
                height: 100%;

                div.hero-container{

                    background-image: url("/images/testbannerimg.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-left: 0px;
                    height: 345px;

                    div.hero-overlay{
                        display: block;
                        background-color: rgba(0,0,0,0.3);

                        div.hero-description{
                            margin-left: 20px;
                            p{
                                margin-top: 25px;
                                color: white;
                            }
                        }

                        div.button-container{
                            margin-left: 20px;
                        }
                    }



                    h1.hero-text{
                        font-size: 10vw;
                        margin: 0;
                        margin-left: 20px;
                        color: white;
                    }
                }
            }

            div.bg-hero{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 570px){
    main{
        > section.hero-container{

            div.hero{
                div.hero-container{

                    div.hero-overlay{

                        h1.hero-text{
                            font-size: 3em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 382px){
    main{
        > section.hero-container{

            div.hero{
                div.hero-container{

                    div.hero-overlay{

                        h1.hero-text{
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }
    }
}
