div#modal{
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.5;
    z-index: 100;
    margin-top: -75px;
    display: none;
    justify-content: center;
    align-items: center;

}

div#modal-container-shoe{

    h2{
        text-align: center;
    }

    align-items: center;
    background-color: white;
    height: 65%;
    width: 55%;
    z-index: 101;
    position: fixed;
    display: none;
    left: 20%;
    border-radius: 10px;
}
div#modal-shoe{
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.5;
    z-index: 100;
    margin-top: -75px;
    display: none;
    justify-content: center;
    align-items: center;

}

div#modal-container{
    align-items: center;
    background-color: white;
    height: 65%;
    width: 55%;
    z-index: 101;
    position: fixed;
    display: none;
    left: 20%;
    border-radius: 10px;
}
