main.product{
    margin: 40px;
    margin-bottom: 66px;
    min-height: 100vh;

    section.section-header{
        h1{
            font-size: 40px;
            margin: 0px;
            margin-bottom: 30px;
        }
    }

    section.extra-sauce{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        a{


            div.product{

                :hover{
                    opacity: 0.5;
                    transition: 0.4s;
                }

                div.product-img{
                    background-color: black;
                    width: 200px;
                    height: 200px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                div.product-desc{

                    p.title{
                        font-weight: bold;
                    }
                    text-align: center;
                }
            }
        }

    }
}
