main section.preview-header{
    display: flex;
    justify-content: center;

    div.section-header{
        h2{
            font-size: 40px;
            margin-bottom: 0px;
        }
    }
}

main section:nth-child(3){
    // min-height: 500px;

    > section{
        display: flex;
        flex-wrap: wrap;

        div.sauce{
            background-color: black;
            height: 370px;
            width: 50%;
            background-color: black;
            position: relative;
            display: flex;
            justify-content: center;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                div.info-description{
                    position: absolute;
                    display: none;
                    top: 110px;
                    // left: 110px;
                    color: white;
                    font-size: 40px;
                }

                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    transition: 0.4s;
                }
            }

        }

        div#gray{
            background-color: gray;
        }
    }
}
